@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

img{
  height: 20px;
  width: 20px;
}

.logo{
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
  padding: 14px 16px;
  margin-left: 100px;
  font-size: 22px;
  font-weight: 600;
  margin-right: 4px;
 }

.topnav {
  overflow: hidden;
  padding: 10px;
  background-color: #171c24;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.topnav a:hover {
  color: #66cc33;
}

.topnav a.active {
  pointer-events: none;
}

.topnav .search-container {
  float:left;
}

.topnav input[type=text] {
  padding: 10px 50px 10px 10px;
  margin-top: 4px;
  font-size: 17px;
  border: none;
  border-radius: 36px 36px / 36px 0px 0px 36px;
  background-color: #1e232b;
  color: #fff;
  border: 1px solid rgba(155,155,155,0.2);
}

.topnav .search-container button {
  float: right;
  padding: 10px;
  margin-top: 4px;
  margin-right: 16px;
  background: #66cc33;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: .2s all;
  border: 1px solid rgba(155,155,155,0.2);
}

.topnav .search-container button:hover {
  background: #2b9638;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border-radius: 0;
    width: 85%;
    display: inline-block;
    border-radius: 36px 36px / 36px 0px 0px 36px;
    background-color: #1e232b;
    border: 1px solid rgba(155,155,155,0.2);
    }

  .topnav .search-container button{
    width: 15%;
    display: inline-block;
    border-radius: 2px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid rgba(155,155,155,0.2);
  }
  .logo{
   margin: 0;
  }
}