<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Movie reviews</title>
</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center">Movie Reviews</h2>
        <div class="row justify-content-center">

            <div class="card movie_card">
                <img src="assets/images/transformers-poster.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <i class="fas fa-play play_button" data-toggle="tooltip" data-placement="bottom"
                        title="Play Trailer">
                    </i>
                    <h5 class="card-title">Transformers: The Last Knight</h5>
                    <span class="movie_info">2017 </span>
                    <span class="movie_info float-right"><i class="fas fa-star"></i> 5.2 / 10</span>
                </div>
            </div>

            <div class="card movie_card">
                <img src="assets/images/toystory4.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <i class="fas fa-play play_button" data-toggle="tooltip" data-placement="bottom"
                        title="Play Trailer">
                    </i>
                    <h5 class="card-title">Toy Story 4</h5>
                    <span class="movie_info">2019 </span>
                    <span class="movie_info float-right"><i class="fas fa-star"></i> 7.7 / 10</span>
                </div>
            </div>

            <div class="card movie_card">
                <img src="assets/images/infinity-war.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <i class="fas fa-play play_button" data-toggle="tooltip" data-placement="bottom"
                        title="Play Trailer">
                    </i>
                    <h5 class="card-title">Avengers: Infinity War</h5>
                    <span class="movie_info">2018 </span>
                    <span class="movie_info float-right"><i class="fas fa-star"></i> 8.4 / 10</span>
                </div>
            </div>

            <div class="card movie_card">
                <img src="assets/images/007-casinoroyale.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <i class="fas fa-play play_button" data-toggle="tooltip" data-placement="bottom"
                        title="Play Trailer">
                    </i>
                    <h5 class="card-title">Casino Royale</h5>
                    <span class="movie_info">2006 </span>
                    <span class="movie_info float-right"><i class="fas fa-star"></i> 8 / 10</span>
                </div>
            </div>

            <div class="card movie_card">
                <img src="assets/images/blade-runner2049.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <i class="fas fa-play play_button" data-toggle="tooltip" data-placement="bottom"
                        title="Play Trailer">
                    </i>
                    <h5 class="card-title">Blade Runner 2049</h5>
                    <span class="movie_info">2017 </span>
                    <span class="movie_info float-right"><i class="fas fa-star"></i> 8 / 10</span>
                </div>
            </div>

            <div class="card movie_card">
                <img src="assets/images/interstellar.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <i class="fas fa-play play_button" data-toggle="tooltip" data-placement="bottom"
                        title="Play Trailer">
                    </i>
                    <h5 class="card-title">Interstellar</h5>
                    <span class="movie_info">2014 </span>
                    <span class="movie_info float-right"><i class="fas fa-star"></i> 8.6 / 10</span>
                </div>
            </div>

            <div class="card movie_card">
                <img src="assets/images/The-dark-knight-rises.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <i class="fas fa-play play_button" data-toggle="tooltip" data-placement="bottom"
                        title="Play Trailer">
                    </i>
                    <h5 class="card-title">The Dark Knight Rises</h5>
                    <span class="movie_info">2012 </span>
                    <span class="movie_info float-right"><i class="fas fa-star"></i> 8.8 / 10</span>
                </div>
            </div>

            <div class="card movie_card">
                <img src="assets/images/inception.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <i class="fas fa-play play_button" data-toggle="tooltip" data-placement="bottom"
                        title="Play Trailer">
                    </i>
                    <h5 class="card-title">Inception</h5>
                    <span class="movie_info">2010 </span>
                    <span class="movie_info float-right"><i class="fas fa-star"></i> 8 / 10</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>